# Configuración de variables de entorno (Ejemplo)
# Finanzas I - UNCP (Chancha Santiago Alex Omar - 2024200492K)

API_WORLD_BANK_URL=https://api.worldbank.org/v2/country/PER/indicator/
SBS_BASE_URL=https://www.sbs.gob.pe/app/stats_net/
USER_AGENT=UNCP_Finanzas1_Research_Bot/1.0
TIMEOUT_SECONDS=30
MAX_RETRIES=3
